.header{
    background: rgb(77, 2, 77);
    color: rgb(240, 227, 207);
    padding: 2%;
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.sidebarbutton{
    float: right;
    border: none;
    background: rgb(77, 2, 77);
    outline: none;
}

img{
    height: 35px;
    cursor: pointer;
}